<%= page "Resetar Senha" %> 

<p class="title">
  <%= image_tag("icone_resetar.png") %> Esqueceu sua senha?
</p><br />   

<%= render :partial => "flash_messages" %>   

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    
  <table>
    
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.email_field :email, :size => 25 %></td> 
      <% unless f.object.errors.empty? %>                                                           
        <td><div class="field_with_errors"><%= f.object.errors[:email].to_sentence %></div></td> 
      <% end %>  
    </tr>
    
   <tr>
    	<td colspan="2" align="right">
    	  <%= f.submit "", :class => :submit, :id => :submit_email %>
    	</td>
    </tr>    
            
    <%= render :partial => "links" %>   
    
  </table><br clear="all">  
<% end %>