<%= page "Resetar Senha" %> 

<p class="title">
  Esqueceu sua senha?
</p><br />

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
    
  <table>
    
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.email_field :email, :size => 25 %></td>
    </tr>
    
   <tr>
    	<td colspan="2" align="right">
    	  <%= f.submit "", :class => :submit, :id => :submit_login %>
    	</td>
    </tr>   
    <td><%= link_to "Login", new_user_session_path %></td>
    <td><%= link_to "Cadastrar", new_user_registration_path %></td>

  </table><br clear="all">  
<% end %>