<p class="title">
  <%= image_tag("icone_login.png") %> LOGIN
</p>                              

<%= render :partial => "flash_messages" %>
 
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %> 
  
  
  <table>
  	<tr>
    	<td><%= f.label :email %></td>
      <td><%= f.email_field :email, :size => 25 %></td>  
      <%= f.object.errors[:email].to_sentence %> 
    </tr>
    
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password, :size => 25 %></td>
    </tr> 
    
    <tr>
      <td colspan="2"><%= f.check_box :remember_me %> <%= f.label :remember_me %></td>
    </tr>  
    
    <tr>
    	<td colspan="2" align="right">
    	  <%= f.submit "", :class => :submit, :id => :submit_login %>
    	</td>
    </tr>
    
    <tr>
      <td><%= link_to "Cadastrar", new_user_registration_path %></td>
      <td><%= link_to "Resetar senha", new_user_password_path %></td>
    </tr>  
  </table>
<% end %>