<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "admin/admin" %> 
    <%= content_for :page_stylesheets %>

    <%= javascript_include_tag "admin/admin" %>
    <%= content_for :page_javascripts %>

    <title><%= content_for :page_title %> - Up and Down</title>
  </head>
  <body>
    <%= render :partial => "flash_messages" %>

    <%= yield %>  

    <% if not user_signed_in? %>
      <%= render :partial => "devise_links" %>
    <% end %>
  </body>
</html>