<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application" %> 
    <%= content_for :page_stylesheets %>

    <%= javascript_include_tag "application" %>
    <%= content_for :page_javascripts %>

    <title><%= content_for :page_title %> - Up and Down</title>
  </head>
  <body>
    <div id="geral">
      <div id="logo">
        <%= link_to image_tag("logo_up_down.png", :border => :none), root_path %>
      </div>

      <br clear="all" />

      <div id="logado">
        <p>
          Olá, <span class="none"><%= current_user.email %></span> |
          <%= link_to "Sair", destroy_user_session_path %>
        </p>
      </div>

      <div id="conteudo">
        <%= render :partial => "flash_messages" %>
      
        <%= yield %>
      </div>
    </div>
  </body>
</html>